/** @format */

img {
	width: 100%;
	position: relative;
}

.carousel {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
button {
	position: fixed;
}
.btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 150px;
}
.btn-left {
	position: absolute;
	left: 50px;
	border: none;
}
.btn-right {
	position: absolute;
	right: 50px;
	border: none;
}

.dot {
	display: flex;

	justify-content: center;
}
.dot_align {
	cursor: pointer;
	height: 30px;
	width: 30px;
	background-color: wheat;
	border-radius: 50%;
	margin: 0px 25px;
}
.hidden{
	display:none;
}